<a href="https://colab.research.google.com/github/baxronovferuz1/DataScience_Np/blob/main/data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hierarchical indexing

In [21]:
import numpy as np
import pandas as pd

In [4]:
data=pd.Series(np.random.randint(7), index=['a','a','b','b','c','c','d'])
data.index

Index(['a', 'a', 'b', 'b', 'c', 'c', 'd'], dtype='object')

In [13]:
ind_data=pd.Series(np.random.randn(7), index=[['a','a','b','b','c','c','d'],[1,3,1,3,1,3,1]])
ind_data.index

MultiIndex([('a', 1),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 3),
            ('d', 1)],
           )

In [7]:
ind_data

a  1    3
   3    3
b  1    3
   3    3
c  1    3
   3    3
d  1    3
dtype: int64

In [8]:
ind_data["a"]

1    3
3    3
dtype: int64

In [11]:
data

a    5
a    5
b    5
b    5
c    5
c    5
d    5
dtype: int64

In [14]:
ind_data

a  1   -1.026819
   3    0.033638
b  1    0.383357
   3    2.072679
c  1   -0.615863
   3   -1.105408
d  1    2.008173
dtype: float64

In [16]:
ind_data.loc[:,1]

a   -1.026819
b    0.383357
c   -0.615863
d    2.008173
dtype: float64

In [17]:
ind_data[["a","c"]]

a  1   -1.026819
   3    0.033638
c  1   -0.615863
   3   -1.105408
dtype: float64

In [18]:
ind_data.unstack()

          1         3
a -1.026819  0.033638
b  0.383357  2.072679
c -0.615863 -1.105408
d  2.008173       NaN

In [20]:
ind_data.unstack().stack()

a  1   -1.026819
   3    0.033638
b  1    0.383357
   3    2.072679
c  1   -0.615863
   3   -1.105408
d  1    2.008173
dtype: float64